:root {
    font-size: calc(1vh + 0.25em);
    box-sizing: border-box;
    --col: linear-gradient(45deg, rgb(228, 228, 228), rgb(197, 197, 197));
}

*, ::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #000;
    color: whitesmoke;
}

header, footer {
    text-align: center;
    text-transform: uppercase;
}

main {
    min-width: 100vw;
    min-height: 90vh;
    position: relative;
}

.line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 5px dashed rgba(255, 255, 255, 0.16);
    min-height: 100vh;
}


#ball {
    background: var(--col);
    position: absolute;
    left: 150px;
    top: 100px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}


.paddle {
    position: absolute;
    top: 70px;
    width: 1.5em;
    height: 10em;
    border-radius: .6em;
    background: var(--col);
}


#paddleA {
    left: 5em;
}

#paddleB {
    right: 5em;
}